# APP
  APP_SERVICE_NAME="oikoshr-backend-calcs"

# AWS
  AWS_REGION="us-east-1"
  # ID de la empresa en AWS de 12 digitos
  AWS_ACCOUNT_ID="123456789012"

# Recordar que los valores de .env.example son solo un ejemplo. Sustituir con valores reales.